.about {
    margin: 50px 100px 50px 150px;
}
.about-div{
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.about-head {
    margin-top: 125px;
}
.about-tittle {
    display: flex;
    font-size: 60px;
    padding-bottom: 40px;
    color: #464646;
}
.about-intro {
    display: flex;
    font-size: 26px;
    padding-bottom: 25px;
}
.about-contact {
    display: flex;
}
.about-contacts {
    padding-right: 7.5%;
}
.about-img {
    display: flex;
    align-self: flex-end;
    width: 27.5%;
    border-radius: 50%;
}