#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#modal-content {
    background-color: #283d4b;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}
#close-modal {
    display: flex;
    color: #FFF;
    background: none;
    font-size: 20px;
    text-align: center;
    border: none;
}
#open-modal:hover, #close-modal:hover {
    cursor: pointer;
}
#open-modal {
    margin: 100px;
}