body {
    background: #F5F5F5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*margin: 0 150px 0 150px;*/
}
ol, ul, li, a {
    list-style: none;
    text-decoration: none;
	color: #464646;
}